.row-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.col-flex{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.row-flex--fw {
  width: 100vw;
  height: 100vh;
  @extend .row-flex;
}

.col-flex--fw {
  width: 100vw;
  height: 100vh;
  @extend .col-flex;
}

.flex-xy--center {
  justify-content: center;
  align-items: center;
}

.contain-center {
  display: grid;
  place-items: center;
}
