// Base in Figma Files
// Primaries, gray and gradients

$color-black  : #000000;
$color-white  : #ffffff;
$color-gray   : #c4c4c4;
$color-gray2  : #818181;
$color-ship   : #e5da3b;
$color-hitok  : #ff392e;
$color-hit    : #44D7B6;
$color-focused : #064e91;
// Spacing
//The 8-pt grid. Using multiples of 8 to define dimensions, padding, and margin of elements.
$spacing : 8px;
